SUPABASE_PROJECT_ID=xhvkqkeqgnfxhwlibqrd
SUPABASE_URL=https://xhvkqkeqgnfxhwlibqrd.supabase.co
SUPABASE_DB_PASSWORD=
SUPABASE_ACCESS_TOKEN=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_CONTACT_FUNCTION_URL=https://xhvkqkeqgnfxhwlibqrd.supabase.co/functions/v1/submit-contact-request
